# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
.idea/web/WEB-INF/web.xml
.idea/vcs.xml

service-account.json
*.cache
project/target/scala-2.12/sbt-1.0/resolution-cache/default/backend-bijbaan-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.properties
project/target/scala-2.12/sbt-1.0/resolution-cache/default/backend-bijbaan-build/scala_2.12/sbt_1.0/0.1.0-SNAPSHOT/resolved.xml.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-compile-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-compile.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-optional.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-plugin.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-pom.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-provided.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-runtime-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-runtime.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-scala-tool.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-test-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-backend-bijbaan-build-test.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.css
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/ivy-report.xsl
project/target/streams/$global/$global/$global/streams/out
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
project/target/streams/$global/ivyConfiguration/$global/streams/out
project/target/streams/$global/ivySbt/$global/streams/out
project/target/streams/$global/projectDescriptors/$global/streams/out
project/target/streams/$global/update/$global/streams/out
project/target/streams/$global/update/$global/streams/update_cache_2.12/inputs
project/target/streams/$global/update/$global/streams/update_cache_2.12/output
project/target/streams/compile/$global/$global/discoveredMainClasses/data
project/target/streams/compile/compile/$global/streams/out
project/target/streams/compile/compileIncremental/$global/streams/export
project/target/streams/compile/compileIncremental/$global/streams/out
project/target/streams/compile/copyResources/$global/streams/copy-resources
project/target/streams/compile/copyResources/$global/streams/out
project/target/streams/compile/dependencyClasspath/$global/streams/export
project/target/streams/compile/exportedProducts/$global/streams/export
project/target/streams/compile/externalDependencyClasspath/$global/streams/export
project/target/streams/compile/internalDependencyClasspath/$global/streams/export
project/target/streams/compile/managedClasspath/$global/streams/export
project/target/streams/compile/unmanagedClasspath/$global/streams/export
project/target/streams/compile/unmanagedJars/$global/streams/export
project/target/streams/runtime/dependencyClasspath/$global/streams/export
project/target/streams/runtime/exportedProducts/$global/streams/export
project/target/streams/runtime/externalDependencyClasspath/$global/streams/export
project/target/streams/runtime/fullClasspath/$global/streams/export
project/target/streams/runtime/internalDependencyClasspath/$global/streams/export
project/target/streams/runtime/managedClasspath/$global/streams/export
project/target/streams/runtime/unmanagedClasspath/$global/streams/export
project/target/streams/runtime/unmanagedJars/$global/streams/export
target/scala-2.12/resolution-cache/bijbaan-server/bijbaan-server$sources/resolved.xml.properties
target/scala-2.12/resolution-cache/bijbaan-server/bijbaan-server$sources/resolved.xml.xml
target/scala-2.12/resolution-cache/bijbaan-server/bijbaan-server_2.12/resolved.xml.properties
target/scala-2.12/resolution-cache/bijbaan-server/bijbaan-server_2.12/resolved.xml.xml
target/scala-2.12/resolution-cache/org.scala-sbt.temp/temp-module-98ec89c315ed408f615fff2c4774286d17323b01/1.2.5/resolved.xml.properties
target/scala-2.12/resolution-cache/org.scala-sbt.temp/temp-module-98ec89c315ed408f615fff2c4774286d17323b01/1.2.5/resolved.xml.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-compile-internal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-compile.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-debian.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-docker.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-docs.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-linux.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-optional.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-plugin.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-pom.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-provided.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-rpm.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-runtime.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-scala-tool.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-test-internal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-test.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-universal-docs.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-universal-src.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-universal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-web-assets-test.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-web-assets.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-web-plugin.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server$sources-windows.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-debian.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-docker.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-docs.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-linux.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-plugin.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-pom.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-rpm.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-test.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-universal-docs.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-universal-src.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-universal.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-web-assets-test.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-web-assets.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-web-plugin.xml
target/scala-2.12/resolution-cache/reports/bijbaan-server-bijbaan-server_2.12-windows.xml
target/scala-2.12/resolution-cache/reports/ivy-report.css
target/scala-2.12/resolution-cache/reports/ivy-report.xsl
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-compile.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-optional.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-provided.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-runtime.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-test.xml
target/scala-2.12/routes/main/controllers/javascript/JavaScriptReverseRoutes.scala
target/scala-2.12/routes/main/controllers/ReverseRoutes.scala
target/scala-2.12/routes/main/controllers/routes.java
target/scala-2.12/routes/main/router/Routes.scala
target/scala-2.12/routes/main/router/RoutesPrefix.scala
target/streams/$global/$global/$global/streams/out
target/streams/$global/$global/dumpStructureTo/$global/streams/out
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/input_dsp
target/streams/$global/dependencyPositions/$global/streams/update_cache_2.12/output_dsp
target/streams/$global/ivyConfiguration/$global/streams/out
target/streams/$global/ivySbt/$global/streams/out
target/streams/$global/playCommonClassloader/$global/streams/out
target/streams/$global/playCompileEverything/$global/streams/out
target/streams/$global/projectDescriptors/$global/streams/out
target/streams/$global/update/$global/streams/out
target/streams/$global/update/$global/streams/update_cache_2.12/inputs
target/streams/$global/update/$global/streams/update_cache_2.12/output
target/streams/$global/updateClassifiers/$global/streams/out
target/streams/compile/compile/$global/streams/out
target/streams/compile/compileIncremental/$global/streams/export
target/streams/compile/compileIncremental/$global/streams/out
target/streams/compile/dependencyClasspath/$global/streams/export
target/streams/compile/externalDependencyClasspath/$global/streams/export
target/streams/compile/internalDependencyClasspath/$global/streams/export
target/streams/compile/managedClasspath/$global/streams/export
target/streams/compile/playRoutes/$global/streams/op-cache
target/streams/compile/twirlCompileTemplates/$global/streams/out
target/streams/compile/unmanagedClasspath/$global/streams/export
target/streams/compile/unmanagedJars/$global/streams/export
target/streams/runtime/externalDependencyClasspath/$global/streams/export
target/streams/runtime/managedClasspath/$global/streams/export
target/streams/runtime/unmanagedClasspath/$global/streams/export
target/streams/runtime/unmanagedJars/$global/streams/export
target/streams/test/externalDependencyClasspath/$global/streams/export
target/streams/test/managedClasspath/$global/streams/export
target/streams/test/unmanagedClasspath/$global/streams/export
target/streams/test/unmanagedJars/$global/streams/export
